<div class="dux-page">
          {page:bar}
        </div> 
                            <style type="text/css">
                                .dux-page { text-align:center; margin-left:auto; margin-right:auto; clear:both; overflow:hidden; padding:20px 0;}
.dux-page a { background:#fff; padding:5px 10px;  height:35px; margin:0 3px; line-height:35px; font-size:14px; text-align:center; color:#333; text-decoration:none; border:#efefef solid 1px; border-radius:5px;}
.dux-page a:hover,.dux-page a.active-page { background:#0A9718; color:#FFF;}
.dux-page a.prePage,.m-page a.nextPage { font-family:"Tahoma";}
.dux-page .hidden { display:none;}
                            </style>
