<!--============================底部 开始=============================-->

<div class="tc1">
	<div class="tc" name="t3">
		<div class="tc-box">
			<h3 class="imgContainer">
				<img src="{pboot:companyweixin}" alt="">
				<span class="scanMask"></span>
			</h3>
			<h5>微信咨询</h5>
		</div>
		<div class="tc-bg"></div>
	</div>
</div>

<!-- 底部strat -->
<footer>
	<div class="fl01">
		<div class="layui-container">
			<div class="layui-row">
				<div class="layui-col-xs12">

					<div class="left fl">
						<h3>{pboot:companyname} </h3>
						<div class="con">
							<h4><img src="{pboot:sitetplpath}/template/default/images/footer_tel.png" alt="">服务热线</h4>
							<h2><span>{pboot:companymobile}</span></h2>
						</div>
						<p>公司地址：{pboot:companyaddress}
							<a href="JavaScript(0);"
								target="_blank">
								<img src="{pboot:sitetplpath}/template/default/images/footer_locol.png" alt="">
							</a>
						</p>
					</div>

					<div class="right fr">
						<div class="img fr">
							<img src="{pboot:companyweixin}" alt="官方微信">
						</div>
						<div class="con fr">
							<h3><big>Contact us</big>关注我们</h3>
							<h4>关注官方微信</h4>
							<h5>扫描二维码 ● 了解更多信息</h5>
						</div>
						<div class="clear"></div>
						<div class="p">
							<p>{pboot:sitecopyright}
								
								<a href="https://beian.miit.gov.cn/" target="_blank">{pboot:siteicp}</a>
								
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>

<div class="container10">
	<div class="layui-container">
		<div class="layui-row">
			<div class="layui-col-xs12">
				<div class="nav01">友情链接：</div>
				<ul class="ul slow height">
                    {pboot:link gid=1 num=300}
                    <li>
                    	<a href="[link:link]" target="_blank">[link:name]</a> |
                    </li>
                    {/pboot:link}
                    
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</div>
</div>

<!--============================底部 结束=============================-->

</div>
<div class="rolling-top"><span><i></i></span>
	<h6>返 回 顶 部</h6>
</div>

<!--============================动画 开始=============================-->

<script src="{pboot:sitetplpath}/template/default/js/a_style.js"></script>

<script src="{pboot:sitetplpath}/template/default/js/a_aos.js"></script>
<script>
	AOS.init({
		easing: 'ease-out-back',
		duration: 600,
	});
</script>

<!--============================动画 结束=============================-->
<!-- 放大效果 -->
<script>
	baguetteBox.run('.gallery', {
		// 配置参数
		buttons: Boolean, //是否显示导航按钮。
		noScrollbars: false, //是否在显示时隐藏滚动条。
		titleTag: true, //是否使用图片上的title属性作为图片标题
		async: false, //是否异步加载文件。

		afterShow: function() { //显示遮罩层之后的回调函数。   
			$(".pressing").fadeIn();
		},
		afterHide: function() { //隐藏遮罩层之后的回调函数。 
			$(".pressing").fadeOut();
		}
		//preload:5 预加载多少个文件。
		// onChange: function(currentIndex, imagesCount){} 图片改变时的回调函数 
		// overlayBackgroundColor:'rgba(0,0,0,0.8)' 遮罩层的背景颜色
	});
</script>

</body>
</html>

